
$background-main:rgb(76, 204, 93);

.App {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 50px;  
}

.header {
    display: flex;
    background: $background-main;
}

.logo {
    height: 100%;
    padding: 10px;
}

.navigation{
    height: 100%;
    width: 100%;

    ul {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;

        li {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    a, img {
        font-size: 25px;
        color: rgb(184, 36, 17);
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            box-shadow: 1px 3px 20px 1px rgb(248, 223, 0);
        }

        &.active {
            color: #0504db;
        }

        @media screen and (max-width: 500px) {
            font-size: 16px;
        }
    }

    img {
        height: 75%;
        cursor: pointer;

        @media screen and (max-width: 500px) {
            height: 40%;    
        }
    }
}

.content {
    background: lighten($background-main, 25%);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background-main;
}
